# Multivariate Time Series Forecasting Preprocessing

This notebook shows the preprocessing steps for multivariate time series forecasting. The dataset used is the "Solana/USDT price" dataset from the Binance API. The dataset contains 30885 rows and 10 columns. The columns are: 

- `unix`: the unix timestamp of the observation
- `date`: the date and time of the observation
- `open`: the opening price of the asset
- `high`: the highest price of the asset
- `low`: the lowest price of the asset
- `close`: the closing price of the asset
- `volume` for USDT/Solana: the volume of the asset
- `trade_count`: the volume of the quote asset

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

C:\Users\johnd\AppData\Local\Temp\ipykernel_20836\3382435124.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Import the Data to use

In [2]:
# Load the data

df = pd.read_csv('Binance_SOLUSDT_1h.csv')
df.head()

,Unix,Date,Symbol,Open,High,Low,Close,Volume SOL,Volume USDT,tradecount
0,1708383600000,2024-02-19 23:00:00,SOLUSDT,112.06,112.29,111.10,111.53,126537.35,1.412089e+07,16239
1,1708380000000,2024-02-19 22:00:00,SOLUSDT,112.80,113.06,111.83,112.06,102008.63,1.146944e+07,13403
2,1708376400000,2024-02-19 21:00:00,SOLUSDT,112.07,112.87,112.00,112.79,73033.69,8.216116e+06,11110
3,1708372800000,2024-02-19 20:00:00,SOLUSDT,111.93,112.45,111.56,112.08,64039.92,7.174128e+06,10174
4,1708369200000,2024-02-19 19:00:00,SOLUSDT,111.96,112.29,111.48,111.94,103350.93,1.156053e+07,15365

In [3]:
df =df.sort_values('Date').reset_index(drop=True)

In [4]:
df.head(10)

,Unix,Date,Symbol,Open,High,Low,Close,Volume SOL,Volume USDT,tradecount
0,1597125600000,2020-08-11 06:00:00,SOLUSDT,2.8500,3.4700,2.8500,2.9515,20032.26,6.140623e+04,267
1,1597129200000,2020-08-11 07:00:00,SOLUSDT,2.9515,3.1355,2.8800,2.9224,42069.37,1.251929e+05,472
2,1597132800000,2020-08-11 08:00:00,SOLUSDT,2.9626,3.0000,2.9144,2.9600,24280.76,7.147019e+04,209
3,1597136400000,2020-08-11 09:00:00,SOLUSDT,2.9600,2.9736,2.8500,2.8543,26371.23,7.726005e+04,230
4,1597140000000,2020-08-11 10:00:00,SOLUSDT,2.8566,2.9329,2.8433,2.8976,26685.94,7.677592e+04,277
5,1597143600000,2020-08-11 11:00:00,SOLUSDT,2.9167,3.1000,2.9015,3.0497,12474.53,3.723687e+04,158
6,1597147200000,2020-08-11 12:00:00,SOLUSDT,3.0497,3.3290,3.0488,3.1111,136779.72,4.411838e+05,1178
7,1597150800000,2020-08-11 13:00:00,SOLUSDT,3.1110,3.2768,2.8625,3.2768,233029.25,7.096156e+05,1918
8,1597154400000,2020-08-11 14:00:00,SOLUSDT,3.2787,3.5208,3.0744,3.2499,362238.07,1.195214e+06,2917
9,1597158000000,2020-08-11 15:00:00,SOLUSDT,3.2499,3.3926,3.1500,3.1900,170827.90,5.543722e+05,1146

## Preprocessing Steps

In [5]:
# Create a new column for the previous close price
df["prev_close"] = df["Close"].shift(1)

In [6]:
df["close_change"] = df.apply(lambda x: 0 if np.isnan(x.prev_close) else x.Close - x.prev_close, axis=1)

In [7]:
df.head(10)

,Unix,Date,Symbol,Open,High,Low,Close,Volume SOL,Volume USDT,tradecount,prev_close,close_change
0,1597125600000,2020-08-11 06:00:00,SOLUSDT,2.8500,3.4700,2.8500,2.9515,20032.26,6.140623e+04,267,NaN,0.0000
1,1597129200000,2020-08-11 07:00:00,SOLUSDT,2.9515,3.1355,2.8800,2.9224,42069.37,1.251929e+05,472,2.9515,-0.0291
2,1597132800000,2020-08-11 08:00:00,SOLUSDT,2.9626,3.0000,2.9144,2.9600,24280.76,7.147019e+04,209,2.9224,0.0376
3,1597136400000,2020-08-11 09:00:00,SOLUSDT,2.9600,2.9736,2.8500,2.8543,26371.23,7.726005e+04,230,2.9600,-0.1057
4,1597140000000,2020-08-11 10:00:00,SOLUSDT,2.8566,2.9329,2.8433,2.8976,26685.94,7.677592e+04,277,2.8543,0.0433
5,1597143600000,2020-08-11 11:00:00,SOLUSDT,2.9167,3.1000,2.9015,3.0497,12474.53,3.723687e+04,158,2.8976,0.1521
6,1597147200000,2020-08-11 12:00:00,SOLUSDT,3.0497,3.3290,3.0488,3.1111,136779.72,4.411838e+05,1178,3.0497,0.0614
7,1597150800000,2020-08-11 13:00:00,SOLUSDT,3.1110,3.2768,2.8625,3.2768,233029.25,7.096156e+05,1918,3.1111,0.1657
8,1597154400000,2020-08-11 14:00:00,SOLUSDT,3.2787,3.5208,3.0744,3.2499,362238.07,1.195214e+06,2917,3.2768,-0.0269
9,1597158000000,2020-08-11 15:00:00,SOLUSDT,3.2499,3.3926,3.1500,3.1900,170827.90,5.543722e+05,1146,3.2499,-0.0599

## Feature Extraction

In [8]:
# Spreadout the date column into year, month, day, hour
featured_df = pd.DataFrame(df, columns=['Date', 'Open', 'High', 'Low', 'Close', 'Volume SOL', 'Volume USDT', 'prev_close', 'close_change'])

In [9]:
# Get the columns to use
featured_df['Date'] = pd.to_datetime(featured_df['Date'])
featured_df['year'] = featured_df['Date'].dt.year
featured_df['month'] = featured_df['Date'].dt.month
featured_df['day'] = featured_df['Date'].dt.day
featured_df['hour'] = featured_df['Date'].dt.hour

In [10]:
featured_df.head(10)

,Date,Open,High,Low,Close,Volume SOL,Volume USDT,prev_close,close_change,year,month,day,hour
0,2020-08-11 06:00:00,2.8500,3.4700,2.8500,2.9515,20032.26,6.140623e+04,NaN,0.0000,2020,8,11,6
1,2020-08-11 07:00:00,2.9515,3.1355,2.8800,2.9224,42069.37,1.251929e+05,2.9515,-0.0291,2020,8,11,7
2,2020-08-11 08:00:00,2.9626,3.0000,2.9144,2.9600,24280.76,7.147019e+04,2.9224,0.0376,2020,8,11,8
3,2020-08-11 09:00:00,2.9600,2.9736,2.8500,2.8543,26371.23,7.726005e+04,2.9600,-0.1057,2020,8,11,9
4,2020-08-11 10:00:00,2.8566,2.9329,2.8433,2.8976,26685.94,7.677592e+04,2.8543,0.0433,2020,8,11,10
5,2020-08-11 11:00:00,2.9167,3.1000,2.9015,3.0497,12474.53,3.723687e+04,2.8976,0.1521,2020,8,11,11
6,2020-08-11 12:00:00,3.0497,3.3290,3.0488,3.1111,136779.72,4.411838e+05,3.0497,0.0614,2020,8,11,12
7,2020-08-11 13:00:00,3.1110,3.2768,2.8625,3.2768,233029.25,7.096156e+05,3.1111,0.1657,2020,8,11,13
8,2020-08-11 14:00:00,3.2787,3.5208,3.0744,3.2499,362238.07,1.195214e+06,3.2768,-0.0269,2020,8,11,14
9,2020-08-11 15:00:00,3.2499,3.3926,3.1500,3.1900,170827.90,5.543722e+05,3.2499,-0.0599,2020,8,11,15

In [11]:
featured_df = featured_df[['year', 'month', 'day', 'hour', 'Open', 'High', 'Low', 'Close', 'Volume SOL', 'Volume USDT', 'prev_close', 'close_change']]

In [12]:
featured_df.head(10)

,year,month,day,hour,Open,High,Low,Close,Volume SOL,Volume USDT,prev_close,close_change
0,2020,8,11,6,2.8500,3.4700,2.8500,2.9515,20032.26,6.140623e+04,NaN,0.0000
1,2020,8,11,7,2.9515,3.1355,2.8800,2.9224,42069.37,1.251929e+05,2.9515,-0.0291
2,2020,8,11,8,2.9626,3.0000,2.9144,2.9600,24280.76,7.147019e+04,2.9224,0.0376
3,2020,8,11,9,2.9600,2.9736,2.8500,2.8543,26371.23,7.726005e+04,2.9600,-0.1057
4,2020,8,11,10,2.8566,2.9329,2.8433,2.8976,26685.94,7.677592e+04,2.8543,0.0433
5,2020,8,11,11,2.9167,3.1000,2.9015,3.0497,12474.53,3.723687e+04,2.8976,0.1521
6,2020,8,11,12,3.0497,3.3290,3.0488,3.1111,136779.72,4.411838e+05,3.0497,0.0614
7,2020,8,11,13,3.1110,3.2768,2.8625,3.2768,233029.25,7.096156e+05,3.1111,0.1657
8,2020,8,11,14,3.2787,3.5208,3.0744,3.2499,362238.07,1.195214e+06,3.2768,-0.0269
9,2020,8,11,15,3.2499,3.3926,3.1500,3.1900,170827.90,5.543722e+05,3.2499,-0.0599

In [13]:
# Replace the NaN values with 0
featured_df = featured_df.fillna(0)

In [14]:
featured_df.head(10)

,year,month,day,hour,Open,High,Low,Close,Volume SOL,Volume USDT,prev_close,close_change
0,2020,8,11,6,2.8500,3.4700,2.8500,2.9515,20032.26,6.140623e+04,0.0000,0.0000
1,2020,8,11,7,2.9515,3.1355,2.8800,2.9224,42069.37,1.251929e+05,2.9515,-0.0291
2,2020,8,11,8,2.9626,3.0000,2.9144,2.9600,24280.76,7.147019e+04,2.9224,0.0376
3,2020,8,11,9,2.9600,2.9736,2.8500,2.8543,26371.23,7.726005e+04,2.9600,-0.1057
4,2020,8,11,10,2.8566,2.9329,2.8433,2.8976,26685.94,7.677592e+04,2.8543,0.0433
5,2020,8,11,11,2.9167,3.1000,2.9015,3.0497,12474.53,3.723687e+04,2.8976,0.1521
6,2020,8,11,12,3.0497,3.3290,3.0488,3.1111,136779.72,4.411838e+05,3.0497,0.0614
7,2020,8,11,13,3.1110,3.2768,2.8625,3.2768,233029.25,7.096156e+05,3.1111,0.1657
8,2020,8,11,14,3.2787,3.5208,3.0744,3.2499,362238.07,1.195214e+06,3.2768,-0.0269
9,2020,8,11,15,3.2499,3.3926,3.1500,3.1900,170827.90,5.543722e+05,3.2499,-0.0599

In [15]:
featured_df.shape

(30885, 12)

In [16]:
df.shape

(30885, 12)

In [17]:
featured_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30885 entries, 0 to 30884
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          30885 non-null  int32
 1   month         30885 non-null  int32
 2   day           30885 non-null  int32
 3   hour          30885 non-null  int32
 4   Open          30885 non-null  float64
 5   High          30885 non-null  float64
 6   Low           30885 non-null  float64
 7   Close         30885 non-null  float64
 8   Volume SOL    30885 non-null  float64
 9   Volume USDT   30885 non-null  float64
 10  prev_close    30885 non-null  float64
 11  close_change  30885 non-null  float64
dtypes: float64(8), int32(4)
memory usage: 2.4 MB

### Splitting the Data

In [18]:
# Split the data into train and test sets
train, test = train_test_split(featured_df, test_size=0.2, shuffle=False)

In [19]:
train.shape, test.shape

((24708, 12), (6177, 12))

In [38]:
import pickle

# Save the train and test data
with open('train_non.pkl', 'wb') as f:
    pickle.dump(train, f)

with open('test_non.pkl', 'wb') as f:
    pickle.dump(test, f)

## Using Scaler to Scale the Data

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
scaler = MinMaxScaler(feature_range=(-1, 1))
scaler = scaler.fit(train)

In [22]:
train_df = pd.DataFrame(scaler.transform(train), columns=train.columns, index=train.index)

In [23]:
train_df.head()

,year,month,day,hour,Open,High,Low,Close,Volume SOL,Volume USDT,prev_close,close_change
0,-1.0,0.272727,-0.333333,-0.478261,-0.987049,-0.982590,-0.985731,-0.986253,-0.991945,-0.999779,-1.000000,0.194235
1,-1.0,0.272727,-0.333333,-0.391304,-0.986260,-0.985176,-0.985496,-0.986479,-0.983085,-0.999549,-0.977159,0.192983
2,-1.0,0.272727,-0.333333,-0.304348,-0.986173,-0.986224,-0.985226,-0.986187,-0.990237,-0.999743,-0.977384,0.195853
3,-1.0,0.272727,-0.333333,-0.217391,-0.986193,-0.986428,-0.985731,-0.987008,-0.989397,-0.999722,-0.977093,0.189688
4,-1.0,0.272727,-0.333333,-0.130435,-0.986997,-0.986743,-0.985784,-0.986672,-0.989270,-0.999724,-0.977911,0.196098

In [24]:
test_df = pd.DataFrame(scaler.transform(test), columns=test.columns, index=test.index)

## Creating Sequences

In [27]:
import tqdm

In [28]:
def create_sequence(input, target, sequence_length=24):
    sequences = []
    for i in tqdm.tqdm(range(len(input)-sequence_length)):
         sequence = input[i:i+sequence_length]
         target_val = target.iloc[i+sequence_length]
         sequences.append((sequence, target_val))
    return sequences

In [29]:
# Create sequences
sequence_length = 254

train_sequences = create_sequence(train_df, train_df['Close'], sequence_length)
test_sequences = create_sequence(test_df, test_df['Close'], sequence_length)

100%|██████████| 24454/24454 [00:00<00:00, 35569.01it/s]
100%|██████████| 5923/5923 [00:00<00:00, 25256.92it/s]

In [28]:
# store the sequences in a pickle file
import pickle

with open('savedpoints/train_sequences.pkl', 'wb') as f:
    pickle.dump(train_sequences, f)

with open('savedpoints/test_sequences.pkl', 'wb') as f:
    pickle.dump(test_sequences, f)

In [30]:
scaler.min_

array([-1.34766667e+03, -1.18181818e+00, -1.06666667e+00, -1.00000000e+00,
       -1.00920826e+00, -1.00941852e+00, -1.00807637e+00, -1.00919859e+00,
       -1.00000000e+00, -1.00000000e+00, -1.00000000e+00,  1.94235319e-01])

In [31]:
scaler.scale_

array([6.66666667e-01, 1.81818182e-01, 6.66666667e-02, 8.69565217e-02,
       7.77527284e-03, 7.73150643e-03, 7.84037314e-03, 7.77433288e-03,
       4.02081667e-07, 3.60000104e-09, 7.73874013e-03, 4.30200043e-02])

In [36]:
import pickle
descaler = MinMaxScaler()

descaler.min_ = scaler.min_[7]
descaler.scale_ = scaler.scale_[7]

with open('descaler.pkl', 'wb') as f:
    pickle.dump(descaler, f)

In [37]:
test.head()

,year,month,day,hour,Open,High,Low,Close,Volume SOL,Volume USDT,prev_close,close_change
24708,2023,6,7,13,19.87,19.87,19.57,19.71,145732.11,2.874262e+06,19.87,-0.16
24709,2023,6,7,14,19.71,19.71,19.24,19.41,357312.89,6.941495e+06,19.71,-0.30
24710,2023,6,7,15,19.40,19.54,19.22,19.32,255628.80,4.952199e+06,19.41,-0.09
24711,2023,6,7,16,19.32,19.32,18.96,19.04,377248.42,7.214627e+06,19.32,-0.28
24712,2023,6,7,17,19.04,19.09,18.60,19.07,428267.85,8.076691e+06,19.04,0.03